/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/lato-v23-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/lato-v23-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/lato-v23-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/lato-v23-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/lato-v23-latin-regular.svg#Lato")
      format("svg"); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v23-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/lato-v23-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/lato-v23-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/lato-v23-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/lato-v23-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/lato-v23-latin-700.svg#Lato")
      format("svg"); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v23-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/lato-v23-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/lato-v23-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/lato-v23-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/lato-v23-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/lato-v23-latin-900.svg#Lato")
      format("svg"); /* Legacy iOS */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --white-color: #fff;
  --dark-white-color: #f2f2f2;
  --darck-blue-color: #00223d;
  --light-blue-color: #a81b2d;
  --black-color: #000;
  --bg-darck-blue-color: #00223d;
  --darck-hover-color: #6a141e;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: var(--darck-blue-color);
}
/* ----------------header---------------*/
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-title {
  color: var(--darck-blue-color);
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}
.section-title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: var(--light-blue-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease 0s;
  padding-bottom: 20px;
  z-index: 666;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 56px;
}
.header_active {
  background-color: var(--bg-darck-blue-color);
}
.header__logo {
  max-width: 200px;
}
.header__logo-link {
}
.link {
}
.header__logo-pic {
}
.header__nav {
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item:not(:last-child) {
  margin-right: 82px;
}
.header__link {
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
  transition: 0.2s all;
  text-decoration: none;
}
.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.6;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}
.burger {
}
.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
}
.burger__line_first {
  top: 0;
}
.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line_third {
  bottom: 0;
}
/* ----------------intro---------------*/
.maine {
}
.intro {
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(162, 82, 182, 0) 0%,
      rgba(21, 28, 57, 0.5)
    ),
    url(../img/hero.jpg) no-repeat center, var(--bg-darck-blue-color);
  background-size: cover;
  padding-top: 253px;
  padding-bottom: 124px;
}
.intro__title {
  max-width: 619px;
  font-weight: 500;
  font-size: 70px;
  line-height: 60px;

  margin-bottom: 52px;
  color: var(--white-color);
}
.intro__subtitle {
  color: var(--dark-white-color);
  font-size: 16px;
  line-height: 24px;
  max-width: 446px;
  margin-bottom: 80px;
}
.search-form {
  margin-bottom: 60px;
}

.search-form__wrap {
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background: transparent url(../img/svg/sircl-icon.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;

  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
}
.search-form__field::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
}
.search-form__submit {
  padding: 15px 39px;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--light-blue-color);
  border: 0;
  transition: all 0.3s ease 0s;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background-color: var(--darck-hover-color);
}

/* ----------------benefits---------------*/
.benefits {
  margin-bottom: 131px;
}

.benefitf__wrapper {
  position: relative;

  max-width: 1260px;
  background-color: var(--white-color);
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 0;
  padding: 93px 100px 88px 100px;

  transform: translateY(-100%);
  background-color: var(--white-color);
}
.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 55px;
  padding: 0 100px;
}
.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
}
.benfits__card-pic {
  max-width: 86px;
  margin-bottom: 37px;
}
.benefits__card-thumb {
  display: block;
}
.benefits__card-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--black-color);
  margin-bottom: 26px;
}
.benefits__card-desk {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black-color);
  margin-bottom: 39px;
  max-width: 310px;
}
.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  background: url(../img/svg/arrow2.svg) no-repeat 95% center;
  background-size: 30px;
  transition: 0.2s all;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--light-blue-color);
  text-decoration: none;
}
.benefits__card-more:hover,
.benefits__card-more:focus {
  background: url(../img/svg/arrow2.svg) no-repeat right center;
  background-size: 30px;
}
/* ----------------places---------------*/
.places {
  margin-bottom: 101px;
}
.places__title {
  margin-right: 15px;
}
.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.places__view-all {
  text-decoration: none;
  color: var(--light-blue-color);
  background: url(../img/svg/arrow2.svg) no-repeat 95% center;
  background-size: 30px;
  transition: 0.2s all;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.places__view-all:hover,
.places__view-all:focus {
  background: url(../img/svg/arrow2.svg) no-repeat right center;
  background-size: 30px;
}
.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}
.places__card {
  position: relative;
  overflow: hidden;
}
.places__card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 28, 57, 0.4);
}
.places__card_size-lg {
  grid-column: span 3;
}
.places__card_size-small {
  grid-column: span 2;
}
.places__card-pic-lg {
  height: 354px;
}
.places__card-pic-small {
  height: 283px;
}
.places__card-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease 0s;
}
.places__card:hover .places__card-pic {
  transform: scale(1.05);
}

.places__card-title {
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
  font-size: 45px;
  line-height: 60px;
  font-weight: 500;
  color: var(--white-color);
}
.places__card-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
/* ----------------tours---------------*/
.tours {
  margin-bottom: 139px;
}
.wrapper-full {
}
.tours-header-ico {
  margin-bottom: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tours-header-ico img {
  max-width: 400px;
}
.tours_wrap {
}
.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 108px;
  align-items: center;
  margin-bottom: 77px;
}
.tour {
}
.tour__pic {
}
.tour__thum {
}
.tour__info {
  padding-left: 47px;
}
.tour__title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500px;
  color: var(--darck-blue-color);
  margin-bottom: 85px;
}
.tour__desk {
  font-size: 16px;
  line-height: 24px;
  color: var(--darck-blue-color);
  margin-bottom: 58px;
}
.tour__more {
  text-decoration: none;
  color: var(--light-blue-color);
  background: url(../img/svg/arrow2.svg) no-repeat 95% center;
  background-size: 30px;
  transition: 0.2s all;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.tour__more:hover,
.tour__more:focus {
  background: url(../img/svg/arrow2.svg) no-repeat right center;
  background-size: 30px;
}
/* ----------------top---------------*/
.top {
  margin-bottom: 86px;
}
.top__title {
  margin-bottom: 54px;
}
.top__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 57px;
  row-gap: 57px;
}
.top__card {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}
.top__card-pic {
  position: relative;
  margin-bottom: 45px;
  overflow: hidden;
}
.top__card-pic-thum {
}
.top__card-stars {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  bottom: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}
.top__card-title {
  color: var(--white-color);
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}
.top__card-like {
  color: var(--white-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 20px;
  background: url(../img/svg/hart.svg) no-repeat right;
  margin-right: 14px;
}
.top__card-likes-value {
}
.top__card-coments {
  color: var(--white-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 23px;
  background: url(../img/svg/message.svg) no-repeat right;
}
.top__card-coments-value {
}
.top__card-pic:hover .top__card-stars,
.top__card-pic:focus .top__card-stars {
  transform: translateY(0);
}
.top_card-desk {
  line-height: 24px;
  margin-bottom: 31px;
}
.top__card-more {
  width: 118px;
  padding: 12px 19px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: #a81b2d;
  border: 0;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  margin: auto 0 0 0;
}
.top__card-more:hover,
.top__card-more:focus,
.top__card-more:active {
  background-color: var(--darck-hover-color);
}

/* ----------------videos--------------*/
.videos {
  width: 100%;
}
.videos__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.video__item {
  padding-top: 56.25%;
}
.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ----------------footer--------------*/
.footer {
  background-color: var(--bg-darck-blue-color);
  padding: 119px 0;
}
.wrapper {
}
.footer__item {
  display: flex;
  flex-wrap: wrap;
}
.footer__logo {
  width: 50%;
}
.footer__logo-pic {
  max-width: 250px;
  margin-top: -12px;
}
.footer__nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer__menu {
}
.footer__menu-item {
}
.footer__menu-title {
  color: var(--white-color);
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 15px;
  text-decoration: none;
}
.footer__menu-link {
  color: var(--white-color);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active {
  opacity: 0.75;
}
/* ----------------media-------------*/
@media screen and (max-width: 960px) {
  .search-form__field {
    margin-bottom: 35px;
  }
  .intro {
    padding-bottom: 150px;
  }
  .search-form {
    margin-bottom: 55px;
  }
  .benefits {
    margin-bottom: 85px;
  }
  .benefits__title {
    padding: 75px 15px;
  }
  .benefits__cards {
    padding: 0 15px;
    column-gap: 35px;
  }
  .benefits__card {
    margin-bottom: 15px;
  }
  .benefitf__wrapper {
    box-shadow: none;
  }
  .places__card_size-lg {
    grid-column: span 6;
  }
  .places__card_size-small {
    grid-column: span 6;
  }
  .places {
    margin-bottom: 55px;
  }
  .tours-header-ico {
    margin: 0 auto 55px;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tours__tour {
    column-gap: 35px;
  }
  .tour__info {
    padding-left: 0;
  }
  .tour__title {
    margin-bottom: 15px;
  }
  .tour__desk {
    margin-bottom: 15px;
  }
  .top__cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 65px;
  }
  .top__card {
    display: flex;
    flex-direction: column;
    grid-column: span 1;
    overflow: hidden;
  }
  .top__card-pic {
    margin-bottom: 25px;
  }
  .footer {
    padding: 65px 0;
  }
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    padding-top: 30px;
  }
  .header__burger {
    display: block;
  }
  .header__nav-close-line {
    position: absolute;
    z-index: 12;
    display: block;
    width: 100%;
    height: 2px;
    top: 50%;
    right: 20px;
    background-color: #fff;
  }

  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-darck-blue-color);
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: all 0.3s ease 0s;
  }
  .header__nav_active {
    transform: translateX(0);
  }
  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .header__item:last-child {
    margin-bottom: 0;
  }
  .header__link {
    font-size: 42px;
    line-height: 62px;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  .intro {
    padding-top: 260px;
  }
  .intro__title {
    font-size: 42px;
    line-height: 45px;
  }
  .intro__subtitle {
    font-size: 14px;
  }
  .search-form__field {
    margin-right: 0;
    width: 100%;
    padding-bottom: 12px;
    background: transparent url(../img/svg/sircl-icon.svg) no-repeat left top;
  }
  .search-form__field::placeholder {
    font-size: 16px;
  }
  .search-form__submit {
    width: 100%;
  }
  .benefits {
    margin-bottom: 35px;
  }
  .benefits__card {
    grid-column: span 3;
  }
  .benfits__card-pic {
    margin-bottom: 15px;
  }
  .benefits__card-title {
    margin-bottom: 15px;
  }
  .benefits__card-desk {
    margin-bottom: 15px;
  }
  .benefits__card-more {
    margin-bottom: 35px;
  }
  .section-title::after {
    width: 120px;
  }
  .section-title {
    margin-bottom: 25px;
  }
  .places {
    margin-bottom: 55px;
  }
  .places__card_size-lg,
  .places__card_size-small {
    height: 230px;
  }
  .places__card-title {
    font-size: 35px;
  }
  .tours {
    margin-bottom: 55px;
  }
  .tour__pic,
  .tour__info {
    grid-column: span 2;
  }
  .tours__tour {
    margin-bottom: 55px;
  }
  .tour__pic {
    margin-bottom: 0px;
  }
  .tour__pic-first {
    grid-row-start: 2;
  }
  .tour__more {
    margin-bottom: 15px;
  }
  .places__card-link {
    margin-bottom: 35px;
  }
  .top__card {
    grid-column: span 6;
  }
  .top__card-stars {
    max-width: 560px;
  }
  .footer__logo {
    margin-bottom: 35px;
  }
  .footer__nav {
    width: 100%;
  }
  .footer__item {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer__menu:not(:last-child) {
    padding-right: 25px;
  }
  .footer__menu-title {
    font-size: 16px;
  }
  .footer__menu-item {
    font-size: 8;
  }
}

@media screen and (max-width: 500px) {
  .header__nav {
    padding: 75px 30px;
  }
  .intro {
    min-height: 100vh;
    background: linear-gradient(
        180deg,
        rgba(21, 28, 47, 0.6) 0%,
        rgba(16, 17, 21, 0.95)
      ),
      url(../img/hero.jpg) no-repeat center;
    background-size: cover;
    padding-top: 260px;
  }
  .search-form {
    margin-bottom: 35px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 55px;
  }
}
